/* src/styles/Footer.css */
.footer {
  background-color: #1b2b3a;
  /* match or complement the header/background color */
  padding: 1rem 2rem;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 80%;
  /* or whatever fixed width you need */
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
}

.social-links {
  display: inline-flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;
}