/* In your main global file (e.g., App.css or index.css), or in Header.css if you prefer */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif; /* or whichever font you prefer */
  background-color: #1b2b3a; /* Example dark background; change as needed */
  color: #fff; /* Light text on dark background */
}

/* Provide some basic headings style */
h1, h2, h3 {
  margin: 0.5rem 0;
  color: #fff;
}

.app-container{
  flex: 1;
  background-color: #223b4d;
}

.parent-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
